./build
build
/build

./.release-tools
.release-tools
/.release-tools

./.release-tool
.release-tool
/.release-tool


./changelogs
changelogs
/changelogs

./CHANGELOG.md
CHANGELOG.md
/CHANGELOG.md

./.idea
.idea
/.idea